@import (inline) "normalize.css";

//vars
@font-face {
  font-family: Daxline Pro;
  src: url("../DaxlinePro.ttf");
  //TODO - add other font formats
}
@font-face {
  font-family: Daxline ExtraBold;
  src: url("../DaxlinePro-ExtraBold.ttf");
  //TODO - add other font formats
}

@title_color: #b6b7c0;
@text_color: #747885;
@sep_color: #cccdd9;
@background_color: linear-gradient(270deg, #1f263a 0%, #353b4d 100%);
@background_color_secondary: #131b2f;
@background_color_buttons: linear-gradient(90deg, #a5cd28 0%, #69a507 100%);
@base_distance: 7px;
@small-width: 320px;
@middle-width: 768px;
@big-width: 1280px;

.font_title(@font-size) {
  color: @title_color;
  font-family: Daxline ExtraBold;
  font-style: normal;
  font-weight: 900;
  font-size: @font-size;
}

x-game {
  width: 100vw;
  font-family: Daxline Pro;
}

x-game-template {
  .main {
    padding: 0px 24px;
    box-sizing: border-box;
  }
  .page {
    background: @background_color;
  }
  @media screen and (min-width: @middle-width) {
    .page {
      padding: 19px 65px;
    }
  }
}

x-top-section {
  .top-section {
    //width: 100%;
    padding: @base_distance;
  }
}

x-title {
  .title {
    .font_title(24px);
  }
}

x-filter {
  .filter {
    background: @background_color_secondary;
    color: @title_color;
    width: 135px;
    //padding: 4px @base_distance;
    border-radius: 4px;
  }
  .filter.open {
    width: 272px;
  }
  .filter-items {
    position: absolute;
    background: @background_color_secondary;
    width: 272px;
    border-bottom-left-radius: @base_distance;
    border-bottom-right-radius: @base_distance;
  }

  x-filter-bar {
    cursor: pointer;
    display: block;
    padding: @base_distance;
    .icon {
      color: @text_color;
      padding: 0px @base_distance;
    }
    .filter-bar {
      display: flex;
      align-items: center;
      justify-content: start;
    }

    x-title {
      .title {
        .font_title(14px);
        padding-top: @base_distance @base_distance;
      }
    }
  }

  x-filter-item {
    .filter-item {
      display: grid;
      padding: (@base_distance * 2) @base_distance;
      grid-template-columns: 1fr 2fr;
    }
    x-checkbox {
      justify-self: center;
      align-self: center;
    }
    x-text {
      justify-self: start;
      align-self: center;
    }
  }
}

x-items-section {
  .items-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border-top: solid 1px @text_color;
  }
  x-item {
    display: grid;
    padding: 0 (@base_distance * 3);
    .item {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      justify-content: space-between;
      padding: @base_distance 0px;
      border-bottom: solid 1px @text_color;
    }
    .item-col {
      padding: @base_distance 0px;
    }

    x-item-image {
      .icon {
        display: block;
        height: 15px;
        width: 15px;
        position: absolute;
        margin: @base_distance;
      }
    }

    x-title {
      .title {
        .font_title(17px);
        margin-top: 2px;
        margin-bottom: 2px;
      }
    }
    x-item-text {
      .item-text {
        display: flex;
        flex-direction: column;
      }
      .text {
        font-size: 15px;
      }
    }

    @media screen and (min-width: @middle-width) {
      x-button {
        display: none;
      }
      .item:hover x-button {
        display: block;
      }
      x-item-image {
        .icon {
          display: none;
        }
      }
      .item:hover x-item-image .icon {
        display: block;
      }
    }
  }
  @media screen and (min-width: @middle-width) and (max-width: @big-width) {
    .items-section {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (min-width: @big-width) {
    .items-section {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

x-text {
  .text {
    color: @text_color;
  }
}
x-button {
  .button {
    .font_title(14px);
    background: linear-gradient(90deg, #a5cd28 0%, #69a507 100%);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
    padding: @base_distance (@base_distance * 2);
    border-radius: 2px;
    color: white;
  }
  @media screen and (min-width: @middle-width) {
    padding: @base_distance (@base_distance * 2);
    border-radius: 4px;
  }
}

x-image {
  .image {
    width: 96px;
    height: 72px;
    background-color: @text_color;
    display: block;
  }
  @media screen and (min-width: @middle-width) {
    .image {
      width: 132px;
      height: 96px;
    }
  }
}
x-checkbox {
  .checkbox {
    border: solid 1px @text_color;
    border-radius: 40px;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .checked {
    background-color: #f72585;
    border-radius: 40px;
    width: 21px;
    height: 21px;
  }
}

@media screen and (min-width: @middle-width) {
  x-item:hover {
    background-color: @background_color_secondary;
    border-radius: @base_distance;
  }
}
