@import (inline) "normalize.css";

//vars
@font-face {
  font-family: Daxline Pro;
  src: url("../DaxlinePro-ExtraBold.ttf");
  //TODO - add other font formats
}

@title_color: #b6b7c0;
@text_color: #747885;
@sep_color: #cccdd9;
@background_color: linear-gradient(270deg, #1f263a 0%, #353b4d 100%);
@background_color_secondary: #131b2f;
@background_color_buttons: linear-gradient(90deg, #a5cd28 0%, #69a507 100%);
@base_distance: 7px;
@small-width: 320px;
@middle-width: 768px;
@big-width: 1280px;

.font_title(@font-size) {
  color: @title_color;
  font-family: Daxline Pro;
  font-style: normal;
  font-weight: 900;
  font-size : @font-size;
}

x-game {
  width: 100%;
}


x-game-template {
  //width: 100%;
  .main {
    padding: 23px 24px;
    box-sizing: border-box;
  }
  .page {
    background: @background_color;
  }
  @media screen and (min-width: @middle-width) {
    .page {
      padding: 19px 65px;
    }
  }
}

x-top-section {
  .top-section {
    //width: 100%;
    padding: @base_distance;
  }
  
}

x-title {
    .title {
      .font_title(24px)     
    }
}

x-filter {
  .filter {
    background: @background_color_secondary;
    color: @title_color;
    width: 135px;
    padding: 4px @base_distance;
    border-radius: 4px;
    box-sizing: border-box;
  }
  x-filter-bar {
    .icon {
      color: @text_color;
    }
    .filter-bar {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    x-title{
      .title{
        .font_title(14px);     
        padding-top: @base_distance;
      }
    }
    
  }

  x-filter-item {
  }
}
  
  
  x-items-section{
    .items-section{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
    x-item{
      .item{
        display: grid;
        grid-template-columns: auto auto auto;
        align-items: center;
      }
      x-title{
        .title{
          .font_title(14px);     
        }
      }
      x-item-text {
        .item-text{
        display: flex;
        flex-direction: column;
        }
        .text{
          font-size : 15px;
          padding:3px;
        }
      }
      @media screen and (min-width: @middle-width) {
        x-button{
          display:none
        }
        .item:hover x-button{
          display:block;
        }
      }
      
    }
    @media screen and (min-width: @middle-width) {
      .items-section {
        grid-template-columns: repeat(3, 1fr);

      }
    }
    
  }

x-text{
  .text{
    color : @text_color;
  }
  
}
x-button{
  .button{
    background: linear-gradient(90deg, #A5CD28 0%, #69A507 100%);
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    
  }

}

x-image{
  .image{
  width: 96px;
  height:72px;
  }
  @media screen and (min-width: @middle-width) {
    .image{
      width: 132px;
      height:96px;
      }
  }
}



